<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

</head>

<body>
  <div class="container">
    <div class="row pt-3">
      <div class="col">
        <h1> School Details </h1>

        <p><b>Name:</b> {{school?.name}} </p>
        <p><b>No. of Students:</b> {{school?.studentCount}} </p>
        <p><b>Street:</b> {{school?.address.street}} </p>
        <p><b>Suburb:</b> {{school?.address.suburb}} </p>
        <p><b>Postcode:</b> {{school?.address.postcode}} </p>
        <p><b>State:</b> {{school?.address.state}} </p>
      </div>
    </div>
    <button class="btn btn-primary" (click)="back()"> Back </button> 
  </div>

</body>

</html>