<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

</head>

<body>
  <h1> Add New School </h1>
  <form class="form-group pt-2" #schoolForm="ngForm" (ngSubmit)='schoolForm.valid && onSubmit()'>
    <div>
      <label> School Name </label>
      <input type="text" class="form-control" name="name" id="name" #name="ngModel" required [(ngModel)]="model.name">
      <div *ngIf="name.invalid && (name.dirty || schoolForm.submitted)"> Name is required. </div>
    </div>
    <div>
      <label> Student Count </label>
      <input type="number" class="form-control" name="studentCount" id="studentCount" #studentCount="ngModel"
        [(ngModel)]="model.studentCount">
    </div>

    <fieldset>
      <legend> Address </legend>
      <div>
        <label> Street </label>
        <input type="text" class="form-control" name="street" id="street" #street="ngModel" required
          [(ngModel)]="model.address.street">
        <div *ngIf="street.invalid && (street.dirty || schoolForm.submitted)"> Street is required. </div>
      </div>
      <div>
        <label> Suburb </label>
        <input type="text" class="form-control" name="suburb" id="suburb" #suburb="ngModel" required
          [(ngModel)]="model.address.suburb">
        <div *ngIf="suburb.invalid && (suburb.dirty || schoolForm.submitted)"> Suburb is required. </div>
      </div>
      <div>
        <label> Postcode </label>
        <input type="text" class="form-control" name="postcode" id="postcode" #postcode="ngModel" required
          [(ngModel)]="model.address.postcode">
        <div *ngIf="postcode.invalid && (postcode.dirty || schoolForm.submitted)"> Postal Code is required. </div>
      </div>
      <div>
        <label> State </label>
        <input type="text" class="form-control" name="state" id="state" #state="ngModel" required
          [(ngModel)]="model.address.state">
        <div *ngIf="state.invalid && (state.dirty || schoolForm.submitted)"> State is required. </div>
      </div>
    </fieldset>



    <button class="btn btn-primary mt-3" type="submit"> Add school </button>
    <div *ngIf="schoolForm.invalid && schoolForm.submitted">
      <p> There are errors in the form </p>
    </div>
  </form>

</body>

</html>